<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Jobs Miner</title>
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}" />
        <link rel='icon' href="{{ url_for('static',filename='files/favicon.png') }}" type='image/x-icon'/ >
        <script src="{{ url_for('static',filename='js/script_fr.js') }}"></script>
        <script src="{{ url_for('static',filename='js/jquery-3.5.1.js') }}"></script>
    </head>
    <body>
        <header>
            
            <div id="logo_container">
                <a href="/fr"><img src="{{ url_for('static',filename='files/logo.png') }}" alt="logo"/></a>
            </div>
            <div id="languages_selector">
                <img src="{{ url_for('static',filename='files/fr-flag.png') }}" alt="French flag"/>
                <div id="dropdown_content">
                    <a href="/en"><img src="{{ url_for('static',filename='files/us-flag.png') }}" alt="US flag"/></a>
                </div>
            </div>
        </header>
        <div id="main_zone">
            <div id="search_zone">
                <h1>Votre recherche</h1>
                <div name="search_form_table" id="search_form_table">

                    <span class="form_line">{{ form.jobTitle }}</span>
                    <span class="form_line">{{ form.location }}</span>
                    <span class="form_line">{{ form.country }}</span>
                    <span id="max_age_notif" class="form_line">Vous ne verrez que les offres publiées il y a moins de 30 jours (utilisez le curseur ci-dessous pour modifier ce paramètre)</span>
                    <span class="form_line">{{ form.age(min=1, max=30, oninput="updateDisplayedMaxAge(value)") }}</span>
                    
                    

                    
                    {{ form.submit(class_="submission_btn", onclick="return search();") }}
                    
                </div>
            </div>
 
        
            <div id="use_instructions">

                <p>1. Entrez l'intitulé du poste qui vous intéresse, la localisation souhaitée et votre pays. Vous pouvez également choisir de ne voir que des offres récentes en modifiant l'âge maximum des annonces.</p>
                <p>2. Lorsque vous cliquez sur le bouton "Rechercher", Jobs Miner commence à parcourir les plus gros sites d'offres d'emplois et génère une liste de résultats. En fonction de votre recherche, ce processus peut prendre plusieurs minutes. Soyez patient !</p>
                <p>3. Jobs Miner affiche ensuite les offres d'emploi qu'il a trouvées pour vous. Vous pouvez enregistrer ces résultats en les téléchargeant en format CSV !</p>


            </div>
        </div>
        <footer>
        <p>©2020 Jobs Miner, Vincent Papelard</p>
        </footer>
        <div id="loading">

            <div id="loading_image">
                <p>Jobs Miner parcourt le Web pour trouver des offres d'emploi correspondant à votre recherche. Cela peut prendre plusieurs minutes...</p>
                <img src="{{ url_for('static',filename='files/loading.gif') }}" alt="Loading..." />
            </div>
            
        </div>
    </body>
    

</html>
